.btn {
    width: 10.5rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(132, 20, 20);
    font-size: 1.5rem;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(132, 20, 20);
    color: white;
}

h3 {
    text-align: center;
    margin: 15px 0 15px 0;
    font-size: 3rem;
    color: white;
}

.main-btn {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}