.main {
    width: 600px;
    height: 300px;
    background: radial-gradient(circle, rgba(101,86,128,1) 34%, rgba(43,22,82,1) 81%);
    border-radius: 20px;
}

h1{
    text-align: center;
    margin: 20px 0 20px 0;
    color: white;
}