.main {
    width: 900px;
    height: 400px;
    background: rgb(101,86,128);
    background: radial-gradient(circle, rgba(101,86,128,1) 44%, rgba(43,22,82,0.9220063025210083) 84%);
    border-radius: 20px;
}

h1{
    font-size: 3rem;
    text-align: center;
    margin: 20px 0 20px 0;
    color: white;
}